---
http_interactions:
- request:
    method: post
    uri: http://app.locomotivesitebuilder.dev:5000/api/tokens.json
    body:
      encoding: UTF-8
      string: api_key=2835773401765d36050f88f1307d721dcec6bc3a&email=vcr%40locomotivecms.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dc0caf2f1a92e483a11deef903942b62"
    body:
      encoding: UTF-8
      string: '{"token":"_NhP8sBjvNL52SyiPrLG"}'
  recorded_at: Wed, 17 Aug 2016 10:12:10 GMT
- request:
    method: post
    uri: http://app.locomotivesitebuilder.dev:5000/api/accounts.json
    body:
      encoding: UTF-8
      string: account%5Bemail%5D=john-1%40doe.net&account%5Bname%5D=John+%231&account%5Bpassword%5D=test31&account%5Bpassword_confirmation%5D=test31&account%5Brole%5D=site_owner
    headers:
      X-Site-Builder-Email:
      - vcr@locomotivecms.com
      X-Site-Builder-Token:
      - _NhP8sBjvNL52SyiPrLG
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - http://app.locomotivesitebuilder.dev:5000/api/accounts/7
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2901354da7176b2806a34db047875476"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"7","type":"partner_accounts","attributes":{"name":"John
        #1","email":"john-1@doe.net","role":"site_owner","api_key":"e5cc586f52a3c1e30b4f3d61bbbb70ee1735fe8e"}}}'
  recorded_at: Wed, 17 Aug 2016 10:12:10 GMT
[...]
- request:
    method: post
    uri: http://app.locomotivesitebuilder.dev:5000/api/accounts.json
    body:
      encoding: UTF-8
      string: account%5Bname%5D=John+%232
    headers:
      X-Site-Builder-Email:
      - vcr@locomotivecms.com
      X-Site-Builder-Token:
      - _NhP8sBjvNL52SyiPrLG
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":422,"source":{"pointer":"/data/attributes/email"},"detail":"can''t
        be blank"},{"status":422,"source":{"pointer":"/data/attributes/password"},"detail":"can''t
        be blank"}]}'
  recorded_at: Wed, 17 Aug 2016 10:12:10 GMT
- request:
    method: get
    uri: http://app.locomotivesitebuilder.dev:5000/api/accounts.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Site-Builder-Email:
      - vcr@locomotivecms.com
      X-Site-Builder-Token:
      - _NhP8sBjvNL52SyiPrLG
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"47c81d70be9d2cf421e58758c30d9b21"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"7","type":"partner_accounts","attributes":{"name":"John
        #1","email":"john-1@doe.net","role":"site_owner","api_key":"e5cc586f52a3c1e30b4f3d61bbbb70ee1735fe8e"}},{"id":"6","type":"partner_accounts","attributes":{"name":"Rspec","email":"vcr@locomotivecms.com","role":"manager","api_key":"2835773401765d36050f88f1307d721dcec6bc3a"}}],"links":{}}'
  recorded_at: Wed, 17 Aug 2016 10:12:10 GMT
- request:
    method: get
    uri: http://app.locomotivesitebuilder.dev:5000/api/accounts.json?filter%5Bid%5D=4
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Site-Builder-Email:
      - vcr@locomotivecms.com
      X-Site-Builder-Token:
      - _NhP8sBjvNL52SyiPrLG
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"69ceedf3abd3502e07bc76d0dc498cdd"
    body:
      encoding: UTF-8
      string: '{"data":[],"links":{}}'
  recorded_at: Wed, 17 Aug 2016 10:12:10 GMT
[...]
- request:
    method: put
    uri: http://app.locomotivesitebuilder.dev:5000/api/accounts/7.json
    body:
      encoding: UTF-8
      string: account%5Bname%5D=John+Doe+%231
    headers:
      X-Site-Builder-Email:
      - vcr@locomotivecms.com
      X-Site-Builder-Token:
      - _NhP8sBjvNL52SyiPrLG
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - http://app.locomotivesitebuilder.dev:5000/api/accounts/7
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"98ade69382d07ab46e4cceae88f095d2"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"7","type":"partner_accounts","attributes":{"name":"John
        Doe #1","email":"john-1@doe.net","role":"site_owner","api_key":"e5cc586f52a3c1e30b4f3d61bbbb70ee1735fe8e"}}}'
  recorded_at: Wed, 17 Aug 2016 10:16:36 GMT
- request:
    method: delete
    uri: http://app.locomotivesitebuilder.dev:5000/api/accounts/7.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Site-Builder-Email:
      - vcr@locomotivecms.com
      X-Site-Builder-Token:
      - _NhP8sBjvNL52SyiPrLG
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - http://app.locomotivesitebuilder.dev:5000/api/accounts
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"98ade69382d07ab46e4cceae88f095d2"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"7","type":"partner_accounts","attributes":{"name":"John
        Doe #1","email":"john-1@doe.net","role":"site_owner","api_key":"e5cc586f52a3c1e30b4f3d61bbbb70ee1735fe8e"}}}'
  recorded_at: Wed, 17 Aug 2016 10:18:35 GMT
recorded_with: VCR 3.0.3
