---
http_interactions:
- request:
    method: post
    uri: http://app.locomotivesitebuilder.dev:5000/api/tokens.json
    body:
      encoding: UTF-8
      string: api_key=e4b33e8050bcf6d721ef8a472b1986bc8eaa9352&email=vcr%40locomotivecms.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"dc0caf2f1a92e483a11deef903942b62"
    body:
      encoding: UTF-8
      string: '{"token":"_NhP8sBjvNL52SyiPrLG"}'
  recorded_at: Fri, 22 Sep 2017 15:30:55 GMT
- request:
    method: put
    uri: http://app.locomotivesitebuilder.dev:5000/api/sites/5/pages/295.json
    body:
      encoding: UTF-8
      string: page%5Btitle%5D=Another+page%21
    headers:
      X-Site-Builder-Email:
      - vcr@locomotivecms.com
      X-Site-Builder-Token:
      - _NhP8sBjvNL52SyiPrLG
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - http://app.locomotivesitebuilder.dev:5000/api/sites/5-itchy-swamp-6038/pages/295
      Etag:
      - W/"44d40ff6b4b97a9fd4d12522fe1d5e99"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"295","type":"site_builder-pages","attributes":{"title":"Another
        page!","slug":"another-page","seo_title":"Another page","seo_description":"","seo_keywords":"","position":1,"content":{"blocks":[{"id":"nav_1","type":"nav","label":"Navigation","content":{"logo":"/themes/landing_page/images/logo1.png","links":[{"id":"nav_1_links_0","content":{"url":"/","label":"Home"},"position":0}],"auth_links":[{"id":"nav_1_auth_links_0","content":{"url":"#","label":"Link","highlighted":false},"position":0},{"id":"nav_1_auth_links_1","content":{"url":"#","label":"Link","highlighted":false},"position":1}]},"position":0},{"id":"header_1","type":"header","label":"Header","content":{"title":"Id
        error provident odit.","buttons":[{"id":"header_1_buttons_0","content":{"url":"#","label":"ACTION
        \u003ci\u003ehere\u003c/i\u003e","highlighted":true},"position":0},{"id":"header_1_buttons_1","content":{"url":"#","label":"OTHER
        ACTION"},"position":1}],"preTitle":"Culpa praesentium eos explicabo.","postTitle":"Ea
        rerum tempora officiis distinctio."},"position":1}]},"og_title":"","og_type":"","og_url":"","og_image":null,"og_description":"","twitter_title":"","twitter_card":"","twitter_site":"","twitter_image":null,"translated_page_ids":{},"blog_posts":null,"blog_tags":[],"content_type":null,"content_entries":null},"relationships":{"content_entry":{"data":null},"blog_post":{"data":null}}}}'
  recorded_at: Fri, 22 Sep 2017 15:30:55 GMT
- request:
    method: post
    uri: http://app.locomotivesitebuilder.dev:5000/api/sites/5/pages.json
    body:
      encoding: UTF-8
      string: page%5Bstring_content%5D=%7B%22blocks%22%3A%5B%7B%22type%22%3A%22call_to_action%22%2C%22content%22%3A%7B%22text%22%3A%22Hello+world%22%2C%22link%22%3A%7B%22url%22%3A%22%2F%22%2C%22label%22%3A%22Visit%22%7D%2C%22action%22%3A%7B%22url%22%3A%22%2F%22%2C%22label%22%3A%22Go%21%22%7D%7D%7D%5D%7D&page%5Btitle%5D=My+new+page
    headers:
      X-Site-Builder-Email:
      - vcr@locomotivecms.com
      X-Site-Builder-Token:
      - _NhP8sBjvNL52SyiPrLG
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - http://app.locomotivesitebuilder.dev:5000/api/sites/5-itchy-swamp-6038/pages/297
      Etag:
      - W/"dd5dbe877873033c3ef11e53cfa0097e"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"297","type":"site_builder-pages","attributes":{"title":"My
        new page","slug":"my-new-page","seo_title":"My new page","seo_description":null,"seo_keywords":null,"position":1,"content":{"blocks":[{"type":"call_to_action","content":{"text":"Hello
        world","link":{"url":"/","label":"Visit"},"action":{"url":"/","label":"Go!"}},"id":"call_to_action_1","position":0,"label":"Call
        to action"}]},"og_title":null,"og_type":null,"og_url":null,"og_image":null,"og_description":null,"twitter_title":null,"twitter_card":null,"twitter_site":null,"twitter_image":null,"translated_page_ids":{},"blog_posts":null,"blog_tags":[],"content_type":null,"content_entries":null},"relationships":{"content_entry":{"data":null},"blog_post":{"data":null}}}}'
  recorded_at: Fri, 22 Sep 2017 15:30:55 GMT
[...]
- request:
    method: delete
    uri: http://app.locomotivesitebuilder.dev:5000/api/sites/5/pages/298.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Site-Builder-Email:
      - vcr@locomotivecms.com
      X-Site-Builder-Token:
      - _NhP8sBjvNL52SyiPrLG
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - http://app.locomotivesitebuilder.dev:5000/api/sites/5-itchy-swamp-6038/pages
      Etag:
      - W/"ca59b86be9993379b77b5f51b81ee00f"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"298","type":"site_builder-pages","attributes":{"title":"To
        be removed","slug":"to-be-removed","seo_title":"To be removed","seo_description":"","seo_keywords":"","position":1,"content":{"blocks":[]},"og_title":"","og_type":"","og_url":"","og_image":null,"og_description":"","twitter_title":"","twitter_card":"","twitter_site":"","twitter_image":null,"translated_page_ids":{},"blog_posts":null,"blog_tags":[],"content_type":null,"content_entries":null},"relationships":{"content_entry":{"data":null},"blog_post":{"data":null}}}}'
  recorded_at: Fri, 22 Sep 2017 15:31:27 GMT
recorded_with: VCR 3.0.3
