---
http_interactions:
- request:
    method: post
    uri: http://app.locomotivesitebuilder.dev:5000/api/tokens.json
    body:
      encoding: UTF-8
      string: api_key=2835773401765d36050f88f1307d721dcec6bc3a&email=vcr%40locomotivecms.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dc0caf2f1a92e483a11deef903942b62"
    body:
      encoding: UTF-8
      string: '{"token":"_NhP8sBjvNL52SyiPrLG"}'
  recorded_at: Fri, 19 Aug 2016 16:01:22 GMT
- request:
    method: get
    uri: http://app.locomotivesitebuilder.dev:5000/api/sites.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Site-Builder-Email:
      - vcr@locomotivecms.com
      X-Site-Builder-Token:
      - _NhP8sBjvNL52SyiPrLG
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"430d04e63b6179fcd3c7bc6842c51fc4"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"1","type":"site_builder_sites","attributes":{"name":"Acme
        Corp","handle":"lush-reef-2505","domains":[],"metadata":{"address":"7 Allée
        Albert Camus","phone_number":"0561715699","social_links":{"google":"http://www.google.com","twitter":"http://www.twitter.com","facebook":"http://www.facebook.com"},"opening_hours":{"friday":["9h00","12h00","14h00","17h00"],"monday":["9h00","12h00","14h00","17h00"],"tuesday":["9h00","12h00","14h00","17h00"],"saturday":["9h00","12h00","14h00","17h00"],"thursday":["9h00","12h00","14h00","17h00"],"wednesday":["9h00","12h00","14h00","17h00"]}},"style":{"main_color":"#2b8efe","big_button_text_color":"#000","big_button_background_color":"#fff200"},"owner_id":11,"theme_handle":"effilab_3a"}}],"links":{}}'
  recorded_at: Fri, 19 Aug 2016 16:01:22 GMT
- request:
    method: post
    uri: http://app.locomotivesitebuilder.dev:5000/api/sites.json
    body:
      encoding: UTF-8
      string: owner_id=11&site%5Bhandle%5D=effilab-site-1&site%5Bname%5D=Effilab+Site+%231&theme_id=8
    headers:
      X-Site-Builder-Email:
      - vcr@locomotivecms.com
      X-Site-Builder-Token:
      - _NhP8sBjvNL52SyiPrLG
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - http://app.locomotivesitebuilder.dev:5000/api/sites
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4d2dc2c3d8f774e3044e9c8c2485d022"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"2","type":"site_builder_sites","attributes":{"name":"Effilab
        Site #1","handle":"effilab-site-1","domains":[],"metadata":null,"style":{"main_color":"#2b8efe","big_button_text_color":"#000","big_button_background_color":"#fff200"},"owner_id":11,"theme_handle":"effilab_3a"}}}'
  recorded_at: Fri, 19 Aug 2016 16:05:05 GMT
- request:
    method: put
    uri: http://app.locomotivesitebuilder.dev:5000/api/sites/2.json
    body:
      encoding: UTF-8
      string: owner_id&site%5Bname%5D=Effilab+Site+%231%21&theme_id
    headers:
      X-Site-Builder-Email:
      - vcr@locomotivecms.com
      X-Site-Builder-Token:
      - _NhP8sBjvNL52SyiPrLG
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - http://app.locomotivesitebuilder.dev:5000/api/sites
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"230afbed59b3c7c6a85bbcad855137b7"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"2","type":"site_builder_sites","attributes":{"name":"Effilab
        Site #1!","handle":"effilab-site-1","domains":[],"metadata":null,"style":{"main_color":"#2b8efe","big_button_text_color":"#000","big_button_background_color":"#fff200"},"owner_id":11,"theme_handle":"effilab_3a"}}}'
  recorded_at: Fri, 19 Aug 2016 16:05:51 GMT
- request:
    method: delete
    uri: http://app.locomotivesitebuilder.dev:5000/api/sites/2.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Site-Builder-Email:
      - vcr@locomotivecms.com
      X-Site-Builder-Token:
      - _NhP8sBjvNL52SyiPrLG
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - http://app.locomotivesitebuilder.dev:5000/api/sites
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"230afbed59b3c7c6a85bbcad855137b7"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"2","type":"site_builder_sites","attributes":{"name":"Effilab
        Site #1!","handle":"effilab-site-1","domains":[],"metadata":null,"style":{"main_color":"#2b8efe","big_button_text_color":"#000","big_button_background_color":"#fff200"},"owner_id":11,"theme_handle":"effilab_3a"}}}'
  recorded_at: Fri, 19 Aug 2016 16:06:15 GMT
recorded_with: VCR 3.0.3
