---
http_interactions:
- request:
    method: post
    uri: http://app.locomotivesitebuilder.dev:5000/api/tokens.json
    body:
      encoding: UTF-8
      string: api_key=2835773401765d36050f88f1307d721dcec6bc3a&email=vcr%40locomotivecms.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dc0caf2f1a92e483a11deef903942b62"
    body:
      encoding: UTF-8
      string: '{"token":"_NhP8sBjvNL52SyiPrLG"}'
  recorded_at: Thu, 18 Aug 2016 22:30:42 GMT
- request:
    method: get
    uri: http://app.locomotivesitebuilder.dev:5000/api/themes.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Site-Builder-Email:
      - vcr@locomotivecms.com
      X-Site-Builder-Token:
      - _NhP8sBjvNL52SyiPrLG
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d2406761de8493062ce76848c7c00f9b"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"5","type":"site_builder_themes","attributes":{"name":"Effilab
        3a","handle":"effilab_3a","description":null,"position":2,"definition":{"name":"Effilab
        3a","style":[{"name":"main_color","type":"color","default":"#2b8efe"},{"name":"big_button_text_color","type":"color","default":"#000"},{"name":"big_button_background_color","type":"color","default":"#fff200"}],"blocks":[{"type":"headline","label":"Headline","fields":[{"name":"headline","type":"string","label":"Headline","default":"CLIENT
        - HEADLINE - LOREM IPSUM DOLOR"},{"name":"sub_headline","type":"text","label":"Sub
        headline","default":"Subheadline - Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor"},{"name":"background","type":"image","label":"Background"}]},{"type":"map","label":"Map","fields":[{"name":"button","type":"string","label":"Button","default":"Afficher
        la carte"}]},{"type":"benefi[...]
- request:
    method: put
    uri: http://app.locomotivesitebuilder.dev:5000/api/themes/5.json
    body:
      encoding: UTF-8
      string: theme%5Bname%5D=Effilab
    headers:
      X-Site-Builder-Email:
      - vcr@locomotivecms.com
      X-Site-Builder-Token:
      - _NhP8sBjvNL52SyiPrLG
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - "/api/themes"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ce9b667b8452b405e01f74b451d6e997"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"5","type":"site_builder_themes","attributes":{"name":"Effilab","handle":"effilab_3a","description":null,"position":2,"definition":{"name":"Effilab
        3a","style":[{"name":"main_color","type":"color","default":"#2b8efe"},{"name":"big_button_text_color","type":"color","default":"#000"},{"name":[...]
- request:
    method: delete
    uri: http://app.locomotivesitebuilder.dev:5000/api/themes/6.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Site-Builder-Email:
      - vcr@locomotivecms.com
      X-Site-Builder-Token:
      - _NhP8sBjvNL52SyiPrLG
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - "/api/themes"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b74a1ab7b394ea455107e9dc08cb6a27"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"6","type":"site_builder_themes","attributes":{"name":"DidTheme","handle":"did_theme","description":null,"position":3,"definition":{"name":"DidTheme","style":[],"blocks":[{"type":"jumbotron","label":"Jumbotron","fields":[{"name":"title","type":"string","label":"Title"},{"name":"body","type":"text","label":"Body"}]}],"handle":"did_theme","description":"Please
        insert a description here","default_pages":[{"slug":"index","title":"Home
        page","blocks":[],"position":0}]}}}}'
  recorded_at: Thu, 18 Aug 2016 22:33:32 GMT
recorded_with: VCR 3.0.3
